<% provide(:title, 'All Users') %>
<h1>
  <% if params[:user].present? && params[:user][:name].present? %>
    検索結果
  <% else %>
    ユーザー一覧
  <% end %>
</h1>

<!--<form class="form-inline text-right">-->
<!--  <label>ユーザー名検索　　　　　　　　　</label><br>-->
<!--    <div class="input-group">-->
<!--	    <input type="text" class="form-control" placeholder="キーワードを入力...">-->
<!--	    <span class="input-group-btn">-->
<!--		    <button type="button" class="btn btn-primary">検索</button>-->
<!--	    </span>-->
<!--    </div>-->
<!--</form>-->

<!--<form class="form-inline text-right">-->
<!--  %= form_tag(users_path, method: "get") do %>-->
<!--  %= label_tag :name, "ユーザー名検索　　　　　　　　　" %><br>-->
<!--  <div class="input-group">-->
<!--    %= text_field_tag :name, params[:name], placeholder: "キーワードを入力...", class: "form-control" %>-->
<!--    <span class="input-group-btn">%= submit_tag "検索", class: "btn btn-primary" %></span>-->
<!--  % end %>-->
<!--  </div>-->
<!--</form>-->

<form class="form-inline text-right">
  <%= form_with model: User.new do |form| %>
    <%= form.label :name, 'ユーザー名検索　　　　　　　　　' %><br>
    <div class="input-group">
      <%= form.text_field :name, value: (params[:user][:name] if params[:user]), placeholder: "キーワードを入力...", class: "form-control" %>
      <span class="input-group-btn"><%= form.submit '検索', class: "btn btn-primary" %></span>
    </div>
  <% end %>
</form>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th class="center"><%= User.human_attribute_name :department %></th>
        <% if current_user.admin? %>
          <th class="center"><%= User.human_attribute_name :basic_time %></th>
          <th class="center"><%= User.human_attribute_name :work_time %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to user.name, user %>
          <% else %>
            <%= user.name %>
          <% end %>
        </td>
        <td class="center"><%= user.department.present? ? user.department : "未所属" %></td>
        <% if current_user.admin? %>
          <td class="center"><%= format_basic_info(user.basic_time) %></td>
          <td class="center"><%= format_basic_info(user.work_time) %></td>
        <% end %>
        <td class="center">
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "基本情報編集", edit_basic_info_user_path(user), remote: true, class: "btn btn-gray" %>
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "「 #{user.name} 」を削除してよろしいですか？" },
                class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>